<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\CarCardApi.dll" stdoutLogEnabled="false">
      <environmentVariables>
        <environmentVariable name="ADMIN_SECRET_CODE" value="Vilkas" />
        <environmentVariable name="JWL_SECRET_CODE" value="Your32ByteSecureKeyWithExactLength!" />
        <environmentVariable name="DB_CONNECTION_STRING" value="Server=DESKTOP-17MRMBO\\SQLEXPRESS01;Database=FUELCARDS;Trusted_Connection=True;Encrypt=False;" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
